@import "../../../styles/mixin";

.container {
    height: 48px;
    width: 48px;
    position: fixed;
    right: 96px;
    bottom: 140px;
    z-index: 50;
    @include tab {
        right: 14px;
        bottom: 14px;
    }
}
