@import "../../../styles/mixin";

.container {
    position: relative;
    width: 234px;
    height: 222px;
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
    @include tab {
        width: 30%;
    }
    @include sp {
        width: 48%;
    }
    img {
        width: 100%;
    }

    .date {
        background-color: var(--primary300);
        height: 24px;
        padding: 3px 8px;
        color: var(--light);
        position: absolute;
        bottom: 78px;
        left: 0;

        :first-child {
            margin-right: 12px;
        }

        span {
            font-family: var(--font-inter);
            font-size: 15px;
        }
    }
    h3 {
        margin-top: 8px;
        font-family: var(--font-noto);
        font-size: 15px;
        font-weight: 300;
        text-align: left;
        overflow: hidden;
        white-space: pre-wrap;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
    .hashTag {
        flex-direction: row;

        span {
            color: var(--primary400);
            margin-top: 8px;
            font-family: var(--font-noto);
            font-size: 15px;
            font-weight: 300;

            &:not(:last-child) {
                margin-right: 10px;
            }
        }
    }
}
