@import "../../../styles/mixin";

.container {
    width: 960px;
    height: 304px;
    background-color: var(--dark600);
    align-items: center;
    justify-content: center;
    margin: 56px auto 0px auto;
    width: 960px;
    height: 304px;

    @include tab {
        width: 100%;
        height: auto;
        margin: 30px 0;
    }
}
