@import "../../../styles/mixin";

.container {
    display: flex;
    justify-content: center;
    flex-flow: column;
    width: 100%;
    margin-top: 40px;
    button {
        display: block;
        margin-top: 28px;
        margin-left: auto;
        margin-right: auto;
        background: var(--primary-linear);
        border-radius: 5px;
        color: var(--light);
        font-size: 18px;
        font-weight: 300;
        width: 296px;
        height: 56px;
        background: -moz-linear-gradient(top, #9996c6, #afd2f0);
        background: -webkit-linear-gradient(top, #9996c6, #afd2f0);
        background: linear-gradient(to bottom, #9996c6, #afd2f0);
    }
    @include tab {
        margin-top: 20px;
        padding: 4px;
        flex-flow: column;
        button {
            margin: 4px 0;
            width: 100%;
        }
    }
}
