@import "../../../styles/mixin";

.container {
    display: flex;
    flex-flow: column;
    width: 100%;
    margin-top: 30px;

    @include tab {
        margin-top: 10px;
        flex-flow: column;
    }

    .chat {
        display: flex;
        padding: 8px;
        white-space: pre-wrap;
        align-items: center;
        width: 100%;

        img {
            margin-right: 20px;
            @include tab {
                margin-right: 2px;
            }
        }
        p {
            color: var(--dark600);
        }
    }
    .me {
        border: 1px solid;
        border-color: var(--gray100);
    }
    .bot {
        background-color: var(--gray100);
    }
}
