:root {
    --font-noto: "Noto Sans JP", sans-serif;
    --font-inter: "Inter", sans-serif;

    --light: #ffffff;
    --primary300: #afd2f0;
    --primary400: #9996c6;
    --primary500: #5146f2;
    --secondary300: #8fe9d0;
    --dark600: #2e2e2e;
    --dark500: #414141;
    --gray400: #777777;

    --header-height: 64px;
    --footer-height: 128px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,
body {
    width: 100%;
    font-family: var(--font-noto);
    color: var(--light);
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--light);
}
button {
    background: inherit;
    border: none;
    cursor: pointer;
}
