@import "../../../styles/mixin";

.wrap {
    display: flex;
    flex-flow: column;
    width: 100%;
    min-height: 700px;
    color: var(--dark600);
    padding: 4px;

    @include sp {
        min-height: 400px;
    }
    .container {
        .load {
            margin-top: 20px;
        }
        .message {
            margin-top: 20px;
        }
    }
}
