@import "../../../styles/mixin";

.wrap {
    display: flex;
    align-items: center;
    flex-direction: column;

    .container {
        width: 960px;
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        align-items: center;
        justify-content: center;
        @include tab {
            width: 100%;
        }
    }
}
