.container {
    display: block;
    margin-top: 28px;
    margin-left: auto;
    margin-right: auto;
    background: var(--primary-linear);
    border-radius: 5px;
    color: var(--light);
    font-size: 18px;
    font-weight: 300;
    width: 296px;
    height: 56px;
    background: -moz-linear-gradient(top, #ff963c, #ffcc21);
    background: -webkit-linear-gradient(top, #ff963c, #ffcc21);
    background: linear-gradient(to bottom, #ff963c, #ffcc21);
}
