.container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

    .content {
        display: flex;
        position: absolute;
        align-items: center;
        flex-direction: column;
        .title {
            font-family: var(--font-base);
            font-size: 20px;
            font-weight: 400;
            color: var(--light);
        }
    }
}
