@import "../../../styles/mixin";

.wrap {
    display: flex;
    flex-direction: column;
    margin: 56px auto 0;
    width: 960px;
    @include tab {
        width: 100%;
        margin: 30px 0;
    }
    .title {
        color: var(--dark500);
        font-family: var(--font-inter);
        font-size: 22px;
        font-weight: 400;
        text-align: left;
        @include tab {
            font-size: 16px;
            margin-bottom: 4px;
        }
    }

    .container {
        .list {
            display: flex;
            flex-wrap: wrap;
            gap: 12px;
        }
    }
    .error {
        color: red;
    }
    .loading {
        color: blue;
    }
}
